.card{
    background-color: beige;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    font-size: 10px;
    cursor: pointer;
}

.card:hover{
    background-color: cornflowerblue;
}

.selected{
    background-color: chartreuse;
}